@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(216, 216, 216);
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sticky {
    color: rgb(223, 223, 223);
    background-color: rgb(10, 10, 10);
    position: sticky;
    top: 0;
    border: 1.5px solid;
    border-color: rgb(109, 109, 109);
    border-radius: 9999999999px;
    background-color: rgb(109, 109, 109);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.Article{
    text-shadow: 1px 1px 1px black;
    font-size: 25px;
}

.semiheader {   
    font-size: 1cm;
    transition: 0.25s;
    color: black;
    width: auto;
    cursor: default;
}

.semiheader:hover {
    transition: 0.25s;
    color: rgb(27, 27, 27);
    text-shadow: 2px 2px 4px black;
    cursor: default;
}

button {
    justify-content: center;
    align-items: center;
    margin: center;
    background-color: #181818;
    color: #ffffff;
    border: 2;
    border-style: none;
    border-radius: 50px;
    border-color: rgb(15, 15, 15);
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    transition: .25s;
}
button:hover {
    transition: .25s;
    box-shadow: 3px 3px 5px rgb(24, 24, 24);
    background-color: #2e2e2e;
    cursor: pointer;
}

@media (max-width:870px) {
    .sticky {
        font-size: 20px;
    }

    .semiheader {
        font-size: 20px;
    }

    .Article {
        font-size: 15px;
    }

    button {
        font-size: 20px;
    }
}

@media (max-width:560px) {
    .sticky {
        font-size: 10px;
    }

    .semiheader {
        font-size: 10px;
    }

    .Article {
        font-size: 7.5px;
    }

    button {
        font-size: 10px;
    }
}

.dark-mode {
    background-color: rgb(37, 37, 37);
    color: white;

    .semiheader{
        color: white;
    }
    .semiheader {   
        font-size: 1cm;
        transition: 0.25s;
        color: rgb(255, 255, 255);
        width: auto;
        cursor: default;
    }
    
    .semiheader:hover {
        transition: 0.25s;
        color: rgb(237, 237, 237);
        text-shadow: 2px 2px 4px rgb(173, 173, 173);
        cursor: default;
    }
    
    button {
        justify-content: center;
        align-items: center;
        margin: center;
        background-color: #ffffff;
        color: #000000;
        border: 2;
        border-style: none;
        border-radius: 50px;
        border-color: rgb(216, 216, 216);
        padding: 20px 20px 20px 20px;
        font-size: 30px;
        transition: .25s;
    }
    button:hover {
        transition: .25s;
        box-shadow: 3px 3px 5px rgb(163, 163, 163);
        background-color: #bbbbbb;
        cursor: pointer;
    }
}