@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.wrapper{
    display: contents;
    width: 100px;
}

button{
    width: 1000px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: center;
    background-color: #181818;
    color: #ffffff;
    border: 2;
    border-style: none;
    border-radius: 25px;
    border-color: rgb(15, 15, 15);
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    transition: .25s;
    margin: 3px 3px 3px 3px;
}


button:hover {
    transition: .25s;
    box-shadow: 3px 3px 5px rgb(15, 15, 15);
    background-color: #2e2e2e;
    cursor: pointer;
}
.center {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: 800;
    position: sticky;
    font-size: 150px;
    transition: .25s;
}

.header:hover {
    transition: .25s;
    color: rgb(216, 216, 216);
    text-shadow: 0px 0px 1cm black;
    cursor: default;
}


body {
    background-color: rgb(216, 216, 216);
}

.Articles {
    height: auto;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    max-width: 150%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sussyheader {
    font-size: 55px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dailyItem {
    transition: .25s;
    background-color: #181818;
    color: #191919;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    border-radius: 25px;
    margin-bottom: 18px;
}
a{
    text-decoration: none;
}
#dailyItem:hover {
    transition: .25s;
    box-shadow: 3px 3px 5px rgb(15, 15, 15);
    background-color: #2e2e2e;
    cursor: pointer;
    display: flex;
    color: white;
}

.button1,
.button2,
.button3,
.button4 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width:2513px) {
    .container {
        max-width: 2000px;
    }
    .Articles {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        display: inline;
        
        max-width: 150%;
        height: auto;
        width: 1000px;
        height: 150px;
    }
    .button1,
    .button2,
    .button3,
    .button4 {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 40px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #dailyItem {
        font-size: 1cm;
    }

    
}



@media (max-width:1999px) {
    .container {
        max-width: 1700px;
    }
    
    .Articles {
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto;
        flex-direction: column;
        display: inline;
        max-width: 200%;
    }
    #dailyItem {
        font-size: 7mm;
    }

    .button1,
    .button2,
    .button3,
    .button4 {
        font-size: 300px;
        justify-content: center;
        align-items: center;
        display: flex;
        max-width: 150%;
        font-size: 50px;
        width: 100%
        

    }
    
}

@media (max-width:1043px) {
    .container {
        max-width: 700px;
    }
    .header {
        font-size: 60px;
    }
    .sussyheader {
        font-size: 40px;
    }
    #dailyItem {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    .Articles {
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto;
        flex-direction: column;
        display: inline;
        max-width: 150%;
    }

    .button1,
    .button2,
    .button3,
    .button4 {
        font-size: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        max-width: 150%;
        width: 100%
        

    }
    
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(37, 37, 37);
        color: white;
    }

    #dailyItem {
        transition: .25s;
        background-color: #e1e1e1;
        color: #e1e1e1;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 300%;
        border-radius: 25px;
        margin-bottom: 18px;
    }
    #dailyItem:hover {
        transition: .25s;
        box-shadow: 3px 3px 5px #e2e2e2;
        background-color: #e2e2e2;
        cursor: pointer;
        display: flex;
        color: black;
    }
    
    button {
        justify-content: center;
        align-items: center;
        margin: center;
        background-color: #ffffff;
        color: #000000;
        border: 2;
        border-style: none;
        border-radius: 50px;
        border-color: rgb(216, 216, 216);
        padding: 20px 20px 20px 20px;
        font-size: 30px;
        transition: .25s;
    }
    button:hover {
        transition: .25s;
        box-shadow: 3px 3px 5px rgb(206, 206, 206);
        background-color: #e1e1e1;
        cursor: pointer;
    }
}